<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>로그인</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
  <h1 class="login-title">로그인</h1>
    <div class="form-group">
      <label for="username" class="form-label">사용자 ID</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" class="form-input" required />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" class="form-input" required />
    </div>
    <button type="submit" class="form-button">로그인</button>
</div>
</body>
</html>
