<!DOCTYPE html>
<html lang="ko">
<head>
    <title>메신저</title>
    <link rel="stylesheet" href="/css/messenger.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="messenger-container">
    <!-- 왼쪽 사이드바 -->
    <div class="sidebar">
        <div class="sidebar-item" onclick="showFriends()">
            <i class="fas fa-user-friends"></i> 동료 목록
        </div>
        <div class="sidebar-item" onclick="showChatRooms()">
            <i class="fas fa-comment-dots"></i> 채팅방
        </div>
    </div>

    <!-- 메인 컨텐츠 -->
    <div class="main-content">
        <div id="friends-list" class="content-section">
            <h2>친구 목록</h2>
            <ul id="friends">
                <li>친구 1</li>
                <li>친구 2</li>
                <li>친구 3</li>
            </ul>
        </div>
        <div id="chat-rooms-list" class="content-section hidden">
            <h2>채팅방 목록</h2>
            <ul id="chat-rooms">
                <li>채팅방 1</li>
                <li>채팅방 2</li>
                <li>채팅방 3</li>
            </ul>
        </div>
    </div>
</div>

<script>
    function showFriends() {
        document.getElementById('friends-list').classList.remove('hidden');
        document.getElementById('chat-rooms-list').classList.add('hidden');
        getFriendList()
    }

    async function getFriendList(){
        try {
            const response = await fetch('/api/user/join', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            });
            if (response.ok) {
                // 성공 처리
                alert('회원가입이 완료되었습니다.');
                window.location.href = '/login'; // 로그인 페이지로 이동
            } else {
                // 실패 처리
                const data = await response.json();
                errorMessage.textContent = data.message || "회원가입에 실패했습니다.";
                errorMessage.style.display = "block";
            }
        } catch (error) {
            console.error(error);
            errorMessage.textContent = "서버 오류가 발생했습니다.";
            errorMessage.style.display = "block";
        }
    }


    function showChatRooms() {
        document.getElementById('friends-list').classList.add('hidden');
        document.getElementById('chat-rooms-list').classList.remove('hidden');
    }
</script>
</body>
</html>
